body {
  background-color: $background-light;
  min-height: 100vh;
  overflow-x: hidden;
  transition: 0.3s;
}

.container {
  padding-inline: 30px;
  margin: 32px auto 0;
  width: 100%;
  max-width: 896px;
}

.display-none {
  display: none !important;
}

body.dark-theme {
  background-color: $background-dark;
}

@media (min-width: $breakpoint-md) {
  .container {
    padding-inline: 32px;
  }
}
