$blue: #0077ff;
$blue-light: #0077ffb3;
$dark-color: #2a3341;
$white: white;
$card-background-dark: #1e2b48;
$gray-blue: #697c9b;
$gray-blue-dark: #4b699b;
$background-light: #f5f7ff;
$background-dark: #141d2e;
$shadow-color: rgba(70, 96, 187, 0.198567);

$font-space-mono: "Space Mono", monospace;

// $breakpoint-sm: 576px;
$breakpoint-md: 560px;
$breakpoint-lg: 864px;
// $breakpoint-xl: 1200px;
// $breakpoint-xxl: 1400px;
