.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    color: $dark-color;
  }

  &__button {
    align-self: flex-start;
  }
}

body.dark-theme {
  .header {
    &__logo {
      color: $white;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .header {
    margin-top: 140px;
  }
}

@media (min-width: $breakpoint-lg) {
  .header {
    margin-top: 144px;
  }
}
