.profile-links {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    &--location {
      order: 1;
    }
    &--twitter {
      order: 3;
    }
    &--blog {
      order: 2;
    }
    &--company {
      order: 4;
    }
  }

  &__icon {
    position: relative;
    height: 20px;
    width: 20px;
    top: 12.8px;
    left: 12.8px;
    display: inline;
  }

  &__text {
    display: inline;
    position: relative;
    left: 14px;
    top: 8px;
    color: $gray-blue-dark;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cursor-default {
  cursor: unset !important;
  &:hover {
    text-decoration: none;
  }
}

.profile-links__item.opacity {
  .profile-links__icon,
  .profile-links__text {
    opacity: 0.5;
  }
}

body.dark-theme {
  .profile-links {
    &__item {
      filter: invert(0.3) sepia(2) saturate(10) hue-rotate(180deg)
        brightness(900%);
    }

    &__icon,
    &__text {
      color: $white;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .profile-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 24px;

    &__item {
      width: 50%;
      position: relative;
      top: 24px;
      &--twitter {
        order: 2;
      }
      &--blog {
        order: 3;
      }
    }
  }
}
